@mixin backdrop() {
  @include z-index-backdrop;
  display: grid;
  place-items: center;
  position: fixed;
  margin: auto;
  background-color: transparent;
  transform-origin: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
      -ms-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}

@mixin backdrop-overlay() {
  @include z-index-backdrop-overlay;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c-backdrop;
}

@mixin backdrop-content() {
  @include z-index-backdrop-content;
}
