@mixin buttonEnabledActiveStyles() {
  -webkit-tap-highlight-color: transparent;
  opacity: .5;
  -webkit-transition: opacity 200ms ease-in;
     -moz-transition: opacity 200ms ease-in;
      -ms-transition: opacity 200ms ease-in;
       -o-transition: opacity 200ms ease-in;
          transition: opacity 200ms ease-in;
}
